$box-shadow: 6px 6px 12px rgba(55, 55, 55, 0.2);
$box-shadow-hover: 6px 6px 12px rgba(55, 55, 55, 0.4);

$colour-primary: #ac827c;
$colour-secondary: #5c6a66;
$colour-light: #e8e8e8;
$colour-dark: #373737;

$font-primary: "montserrat", sans-serif;
$font-headings: "Lato", sans-serif;
